---
layout: default
permalink: /contribute/
---

<div class="home contribute">

  <div class="left">

    <h1 class="page-heading">27 Essays and Thoughts on Degrowth</h1>

    <h3 class="authors">By Giorgos Kallis
      <div class="editor">Edited by Aaron Vansintjan</div>
    </h3>

    <div class="blurb">

      <p class="already-own">
        Already have the book and still want to contribute?
      </p>
      {% include download-book.html %}
      {% include download-book-small-text.html %}
    </div>
  </div>
  <div class="image">
    <div class="book-cover" style="background-image: url({{ "/public/cover_design_3d.png" | prepend: site.baseurl }})"></div>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
