---
layout: default
---

<div class="home main">

  <div class="left">

    <h1 class="page-heading">27 Essays and Thoughts on Degrowth</h1>

    <h3 class="authors">By Giorgos Kallis<div class="editor">Edited by Aaron Vansintjan</div></h3>

    <h3>Now available in paperback.</h3>

    <div class="blurb">
      <p>
        The idea of degrowth is contentious, often misunderstood, and (perhaps paradoxically) growing in popularity. In this book, Giorgos Kallis, one of the movement's leading thinkers, presents an accessible, inspiring, and enjoyable defense. The book's chapters—a compilation of his opinion essays, newspaper articles, blog posts, and 'minifestos'—range from topics such as eco-modernism, the history of economics, science fiction, the Greek crisis, and Hollywood films. The book also features debates and exchanges between Kallis and degrowth detractors. <em>In defense of degrowth</em> is intended as an introduction for the curious, a defense against the skeptics, and an intellectually stimulating conversation for those already convinced but willing to learn more.
      </p>
    </div>

    <a class="download-pop-down">
      <i class="pop-down"></i>Download the e-book
    </a>

    {% include download-book.html %}

    <p class="already-own">
      Due to changes in European Union VAT restrictions, we are no longer able to offer a print book
    </p>
    
    <p class="already-own">
      Already have the book? You can still <a href="/contribute/" title="contribute">contribute</a>.
    </p>
    {% include download-book-small-text.html %}


    <div class="praise">
      <h2>Praise for <em>In defense of degrowth</em></h2>
      <p class="quote">
        “a mix of engaging commentary, bold analysis, and creative policy tools certain to deepen your thinking.”

        <span class="author">— <strong>Naomi Klein</strong>
      </p>
      <p class="quote">
        “..crafting novel economic imaginaries and feasible frameworks for an age where, literally, everything has to change”

        <span class="author">— <strong>Arturo Escobar</strong>
      </p>
    </div>

    <div class="center about-the-author">
      <h2>About the author</h2>

      <img src="/public/giorgos-kallis.jpg" alt="Giorgos Kallis"/>

      <br/><br/>

      <p>Kallis is a citizen of Greece, professor at the Autonomous University of Barcelona, publisher of over 50 peer-reviewed journal articles, and an active member of the group <a href="http://degrowth.org" title="Research and Degrowth website">Research &amp; Degrowth</a></p>
    </div>
  </div>
  <div class="image">
    <div class="book-cover" style="background-image: url({{ "/public/cover-photo.png" | prepend: site.baseurl }})"></div>
  </div>
</div>
