<form class="buy-physical"
  name="_xclick"
  action="https://www.paypal.com/us/cgi-bin/webscr"
  method="post">

  <input type="hidden" name="cmd" value="_xclick" />
  <input type="hidden" name="business" value="indefenseofdegrowth@gmail.com" />
  <input type="hidden" name="currency_code" value="USD" />
  <input type="hidden" name="item_name" value="Book: In defense of degrowth" />
  <input type="hidden" name="amount" value="16.00"/>
  <button type="submit"
    class="buy-with-paypal submit"
    name="submit"
    alt="Buy with PayPal"
    title="Buy with PayPal">Buy Now: $16</button>
  <p class="download-book-extra">We use PayPal for processing payments, but you do not need a PayPal account to make a contribution. Price includes shipping and handling. Because we're not going through a big publisher, time to ship can be up to 10 business days.</p>
</form>
