<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script>
    function setFormClass() {
      var $this = $(this);
      if (+$this.val() === 0) {
        $this.parent().addClass('free');
      } else {
        $this.parent().removeClass('free');
      }
    }

    $(document).ready(function () {
      $("[name=amount]").on('keyup', setFormClass);
      $("[name=amount]").on('change', setFormClass);

      var from = getUrlParameter('from');
      if (from === 'paypal') {
        $('body').prepend('<div class="payment-made"><p>Thanks for your payment!</p><small>Submit your e-mail address and we\'ll send you the book.</small></div>');
      }

      var only = getUrlParameter('only');
      if (only === 'download') {
        $('.already-own').hide();
      }

      $('.main form.buy').css('display', 'none');
      $('.main form.buy-physical').css('display', 'none');

      $('.download-pop-down').click(function (e) {
        var link = $('.download-pop-down');
        if (link.hasClass('open')) {
          link.removeClass('open');
        } else {
          link.addClass('open');
        }
        $('form.buy').toggle();
      });

      $('.purchase-pop-down').click(function (e) {
        var link = $('.purchase-pop-down');
        if (link.hasClass('open')) {
          link.removeClass('open');
        } else {
          link.addClass('open');
        }
        $('form.buy-physical').toggle();
      });

      $('#mc-embedded-subscribe').click(function (e) {
        $('#mc-embedded-subscribe-form').submit();
      });
    });

    var getUrlParameter = function  getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
    };
  </script>

  <script type='text/javascript' src='{{ "/scripts/mailchimp-script.js" | prepend: site.baseurl }}'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

  <!-- Google Analytics Script -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90851548-1', 'auto');
    ga('send', 'pageview');

  </script>
  </body>

</html>
