<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- {% include footer.html %} -->
  <script
    src="http://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script>

    function setFormClass() {
      var $this = $(this);
      if (+$this.val() === 0) {
        $this.parent().addClass('free');
      } else {
        $this.parent().removeClass('free');
      }
    }

    $(document).ready(function () {
      $("[name=amount]").on('keyup', setFormClass);
      $("[name=amount]").on('change', setFormClass);
    });
  </script>
  </body>

</html>
